In [1]:
import requests

In [6]:
from bs4 import BeautifulSoup

In [22]:
import pandas as pd

In [23]:
books=[]
for i in range(1,51):
    url=f"http://books.toscrape.com/catalogue/page-{1}.html"
    response=requests.get(url)
    response=response.content
    soup=BeautifulSoup(response,"html.parser")
    ol=soup.find("ol")
    articles=ol.find_all("article",class_="product_pod")


    
    for article in articles:
        image=article.find("img")
        title=image.attrs["alt"]
        star=article.find("p")
        star=star["class"][1]
        price=article.find("p",class_="price_color").text
        price=float(price[1:])
        books.append([title,price,star])

In [24]:
df=pd.DataFrame(books,columns=["Title","Price","Star Rating"])

In [25]:
df

                                                 Title  Price Star Rating
0                                 A Light in the Attic  51.77       Three
1                                   Tipping the Velvet  53.74         One
2                                           Soumission  50.10         One
3                                        Sharp Objects  47.82        Four
4                Sapiens: A Brief History of Humankind  54.23        Five
..                                                 ...    ...         ...
995  Our Band Could Be Your Life: Scenes from the A...  57.25       Three
996                                               Olio  23.88         One
997  Mesaerion: The Best Science Fiction Stories 18...  37.59         One
998                       Libertarianism for Beginners  51.33         Two
999                            It's Only the Himalayas  45.17         Two

[1000 rows x 3 columns]

In [26]:
df.to_csv("books.csv")